html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #55423d;
  color: #fff3ec;
}

a {
  color: #ffc0ad;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#wrapper {
  max-width: 720px;
  font-size: 1.1rem;
  margin: auto;
}

h1,
h2,
h3,
h4 {
  color: #fffffe;
}

pre {
  padding: 24px;
  background-color: #271c19;
}
